[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "i3wm-themer"]
	path = i3wm-themer
	url = https://github.com/unix121/i3wm-themer.git
[submodule ".doom.d"]
	path = .doom.d
	url = https://github.com/julianlore/.doom.d.git
[submodule "doom-emacs"]
	path = .emacs.d
	url = https://github.com/hlissner/doom-emacs.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/julianlore/ohmyzsh.git
